body{
    text-align: center;
    font-family: Arial, sans-serif;
}

.container{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
    width: 500px;
    background-color:rgb(241, 178, 133);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

#title{
    color: bisque;
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.formulaire{
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}



label {
    font-size: 25px;
    color: rgb(90, 18, 18);
    font-weight: bold;
}
.ligne{
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
    margin-bottom: 30px;
}

.ligne label{
    padding-left: 0px;
}

.ligne input{
    margin-left: 25px;
}



span.form_el {
    font-size: 25px;
}

input.form_el{
    width: 200px;
    font-size: 20px;
    background-color: white;
    border-radius: 30px;
    border-top-color: rgb(144, 61, 31);
    border-left-color: rgb(144, 61, 31);
    border-right-color: bisque;
    border-bottom-color: bisque;
}

#creation {  
    box-shadow: 0px 0px 10px 1px rgb(144, 61, 31);
    font-weight: bold;
    color:bisque;
    font-size: 25px;
    height: 60px;
    width: 250px;
    margin: 30px;
    background-color: rgb(90, 18, 18);
    border: 0px;
    border-radius: 30px;
}

h2{
    color: red;
}

#creation:active {
    color: bisque;
    background-color: rgb(122, 31, 31);
    box-shadow: 0px 0px 10px 1px rgb(60, 12, 12) inset;
}