*{
    font-family: Arial, sans-serif;
}

h1{
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-bottom: 30px;
}

h2{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.container {
    position: relative;
    min-width: 32rem;
    margin: 0 auto;
    width: 70%;
    max-width: 126rem;
    display: flex;

}

.liste_user {
    width: 50%;
}

.content_liste_amis, .content_liste_user{
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
} 
.ligne_users, .ligne_amis {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userForm, .amisForm{
    width:100%;
    padding-left: 2em;
    padding-right: 2em;
}

.ligne_users label, .ligne_amis label{
    font-size: 20px;
    word-break: break-all;
    margin-right: 20px;
    max-width: 150px; 
}

.ligne_users input, .ligne_amis input {
    display: flex;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0px 3px 4px 1px rgb(120, 47, 111);
    color: rgb(240, 217, 250);
    background-color: rgb(186, 85, 211);
    border: 0px;
    border-radius: 30px;
    height: 40px;
}

.liste_amis {
    width: 50%;
}

.liste_amis p {
    margin-top: 0;
    line-height: 1.5;
}

.content_liste_user{
    border-right: 2px solid rgb(186, 85, 211);
}

.ajout_liste{
    margin-left: 20px;
    padding: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5%;
    font-size:medium;
    text-align: center;
}









*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}

.galerie {
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px auto 0;
    position: relative;
    min-width: 32rem;
    margin: 0 auto;
    width: 70%;
    max-width: 126rem;
    padding-top: 80px;
    display: flex;
}

.item {
    width: 200px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15);
    position: relative;
}

.item img {
    width: 100%;
    height: auto;
}

.texte{
    display: flex;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgb(79, 41, 81);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover{
    opacity: 1;

}

.item:hover .overlay {
    opacity: 1;
}


.overlay a {
    width: 100%;
    height: 100%;
    color: rgb(20, 20, 20);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.titre{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
