body{
    text-align: center;
    font-family: Arial, sans-serif;

}

.container{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
    width: 400px;
    background-color:rgb(241, 178, 133);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

#title{
    color: bisque;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 40px;
}

.formulaire{
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
}

.ligne{
    align-items: normal;
}

#ligns{
    display : grid;
}

.ligne > .form_el {
    display: block;
}

.form_el{
    margin : 5px;
}


label {
    font-size: 25px;
    color: rgb(90, 18, 18);
    font-weight: bold;
}


input.form_el{
    height: 40px;
    width: 250px;
    font-size: 20px;
    background-color: white;
    border-radius: 30px;
    border-top-color: rgb(144, 61, 31);
    border-left-color: rgb(144, 61, 31);
    border-right-color: bisque;
    border-bottom-color: bisque;
    padding-left: 5px;
    padding-right: 5px;
}


#connexion {  
    box-shadow: 0px 0px 10px 1px rgb(144, 61, 31);
    font-weight: bold;
    color:bisque;
    font-size: 25px;
    padding-right: 5px;
    height: 60px;
    width: 250px;
    margin: 30px;
    background-color: rgb(90, 18, 18);
    border: 0px;
    border-radius: 30px;
}

#connexion:active {
    color: bisque;
    background-color: rgb(122, 31, 31);
    box-shadow: 0px 0px 10px 1px rgb(60, 12, 12) inset;
}

h2{
    color: red;
}
