*{
    font-family: Arial, sans-serif;
}

h1{
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

h2{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.container {
    position: relative;
    min-width: 32rem;
    margin: 0 auto;
    width: 70%;
    max-width: 126rem;
    padding-top: 100px;
    display: flex;
}

.image-container {
    position: fixed;
    width: 20%;
}

.image-container img {
    width: 100%;
    border-radius: 5%;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15);

}


.image-container h2{
    padding: 10px;
}

.text-container {
    margin-left: 35%;
    width: 65%;
}

.text-container p {
    margin-top: 0;
    line-height: 1.5;
}


.aujout_liste{
    width: 100%;
    padding: 10px;
}




.rating{
    position: relative;
    padding: 40px;
}


.note {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 20px;
}


button{
    background-color: transparent;
    border: none;
}

.rating button {
    float: right;
    color: #aaa;
    text-decoration: none;
    font-size: 4vw;
    transition: color .4s;
    position: absolute;
    direction:rtl;
 }

 .rating form button:hover,
 .rating form button:focus,
 .rating form button:hover ~ button,
 .rating form button:focus ~ button {
    color: orange;
    cursor: pointer; }

 #btn1{
    margin-right: 80%;
 }
 #btn2{
    margin-right: 60%;
 }
 #btn3{
    margin-right: 40%;
 }
 #btn4{
    margin-right: 20%;
 }