*{
    font-family: Arial, sans-serif;
}

h1{
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

h2{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.container {
    position: relative;
    min-width: 32rem;
    margin: 0 auto;
    width: 70%;
    max-width: 126rem;
    padding-top: 100px;
    display: flex;
}

.image-container {
    /* position: fixed; */
    width: 30%;
}

.image-container img {
    width: 100%;
    border-radius: 5%;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15);

}


.image-container h2{
    padding: 10px;
}

.text-container {
    margin-left: 5%;
    width: 65%;
}

.text-container p {
    margin-top: 0;
    line-height: 1.5;
}


.aujout_liste{
    width: 100%;
    padding: 10px;
}




.rating{
    position: relative;
    padding: 40px;
    padding-right: 0px;
}


.note {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 20px;
}


button{
    background-color: transparent;
    border: none;
    
}

.rating button {
    float: right;
    color: #aaa;
    text-decoration: none;
    font-size: 4vw;
    transition: color .4s;
    position: absolute;
    direction:rtl;
    right: 0px;
}

.rating form button:hover,
.rating form button:focus,
.rating form button:hover ~ button,
.rating form button:focus ~ button {
    color: orange;
    cursor: pointer; }

#btn1{
    margin-right: 80%;
}
#btn2{
    margin-right: 60%;
}
#btn3{
    margin-right: 40%;
}
#btn4{
    margin-right: 20%;
}

button.note_true{
    color:orange;
}

p.moyenne{
    margin-top: 20px;
    font-size: 20px;
}

span.petite_etoile{
    color:orange;
}

span.petit_span{
    font-size: 16px;
}


span.span_gros_com{
    font-size: 16px;
}

.write_com{
    margin: 20px;
    margin-left: 10px;
    padding: 10px;
}


.commentaire_div{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 100%;
}


span.user_com{
    font-size: 18px;
    font-weight: bold;
    padding-right: 3px;
}


textarea {
    resize: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    margin-right: 15px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15);
    width: 100%;
  }


.commentaire{
    padding-bottom: 20px;
}

.votre_com{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.nb_etoile{
    font-size: 18px;
    padding: 10px;
}

label input.rbtn{
    margin-top: 20px;
}

.add_com_div{
    border: 2px solid black;
    resize: none;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    padding-left: 5px;
    background-color: #e2e2e2;
}

.send_com{
    margin: 5px;
    margin-left: 20px;
    padding: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5%;
    font-size:medium;
    text-align: center;
}