body{
    text-align: center;
    font-family: Arial, sans-serif;

}

#content{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
    width: 400px;
    background-color:rgb(255, 211, 122);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15);
}

#title{
    font-size: 50px;
    margin: 20px;
}

.formulaire{
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.form_el{
    margin : 5px;
}


label {
    font-size: 25px;
}

input.form_el{
    width: 200px;
    font-size: 20px;
}

.button {  
    font-size: 25px;
    height: 40px;
    width: 250px;
    margin: 30px;
}

h2{
    color: red;
}