#content{
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin : 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color:blue;
}

#title{
    font-size: 50px;
    margin: 20px;
}

form{
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.form_el{
    margin : 5px;
}

span.form_el {
    font-size: 25px;
}

button.form_el {  
    font-size: 25px;
    width: 200px;
    margin: 20px;
}